<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Kaka\'s Nails'}) %>
    <link rel="stylesheet" href="/styles/home.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <section class="hero">
            <h2>Welcome to Kaka's Nails!</h2>
            <a href="/about" class="btn">About Us</a>
        </section>

        <section class="hero2" id="keychains">
            <h2>Keychains now in stock</h2>
            <a href="/products" class="btn">Shop Now!</a>
        </section>

        <section class="hero2" id="signup">
            <h2>Sign Up Today for a $10 Discount!</h2>
            <a href="/users/new" class="btn">Sign Up</a>
        </section>

        <section class="featured-products">
            <h2>Featured Nails</h2>
            <ul class="product-grid" class="nails-grid">
                <% for (let product of products) { %>
                    <% if (product.type == 'nails') { %>
                        <div class="wrapper">
                            <li class="nails">
                                <figure>
                                    <img src="<%= product.photo %>" alt="Nail">
                                </figure>
                                <figcaption>
                                    <div class="featured-info">
                                        <h3><%= product.name %></h3>
                                    </div>
                                    <a href="/products/<%= product._id %>" class="btn" id="roundbtn" >Buy</a>
                                </figcaption>
                            </li>
                        </div>
                    <% } %>
                <% } %>
            </ul>
            <h2></h2>
            <ul class="product-grid" class="keychain-grid">
                <% for (let product of products) { %>
                    <% if (product.type == 'keychain') { %>
                        <div class="wrapper">
                            <li class="keychain">
                                <figure>
                                    <img src="<%= product.photo %>" alt="Nail">
                                </figure>
                                <figcaption>
                                    <div class="featured-info">
                                        <h3><%= product.name %></h3>
                                    </div>
                                    <a href="/products/<%= product._id %>" class="btn" id="roundbtn" >Buy</a>
                                </figcaption>
                            </li>
                        </div>
                    <% } %>
                <% } %>
            </ul>
            <h2>Featured Keychains</h2>

        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
