<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs', {title: 'Kaka\'s Nails'}) %>
    <link rel="stylesheet" href="/styles/product-index.css">
</head>

<body>
    <%- include('./partials/nav.ejs') %>

    <section class="hero">
        <h2>Available Products</h2>
        <h3><button class="btn"><a href="/products/new">Add a product</a></button></h3>
    </section>

    <main>
        <section class="featured-products">
            <h2></h2>
            <ul class="product-grid">
                <% for (let product of products) { %>
                <li>
                    <figure>
                        <img src="<%= product.photo %>" alt="Nail">
                    </figure>
                    <figcaption>
                        <div class="featured-info">
                            <h3><%= product.name %></h3>
                        </div>
                        <a href="/products/<%= product._id %>" class="btn" id="roundbtn" >Buy</a>
                    </figcaption>
                </li>
                <% } %>
            </ul>
        </section>

        <section class="listings">
            <ul class="product-grid">
                <% for (let product of products) { %>
                <li>
                    <figure>
                        <img src="<%= product.photo %>">
                        <figcaption>
                            <h4><%= product.name %></h4>
                            <p></p>
                            <a href="/products/<%= product._id %>" class="btn" id="roundbtn" >Buy</a>
                        </figcaption>
                    </figure>
                </li>
                <% } %>
            </ul>
        </section>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>

</html>
